.container {
  width: 95vw;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}
@media only screen and (max-width: 490px) {
  .container {
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
  }
}
