.column2 {
  width: 1200px;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 90%;
  right: 0;
  transform: translateY(-90%);
  overflow-y: auto;
  /* border: 1px solid white; */
}
.col2Container {
  position: absolute;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.labelContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #565656;
  width: 10rem;
  padding: 0.5rem;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.introContainer {
  /* max-width: 100%; */
}
.introContainer .intro {
  font-size: 78px;
  font-size: normal;
  font-variation-settings: slnt;
  font-weight: 300;
  letter-spacing: -0.2px;
  line-height: 90px;
}
.introContainer p {
  font-size: 0.9em;
}
.rotatingTextContainer {
  border: 1px solid white;
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 490px) {
  .column2 {
    top: 170%;
    width: 95%;
    overflow: hidden;
    justify-content: flex-start;
    margin-top: -2rem;
  }
  .col2Container {
    width: 100%;
  }
  .introContainer .intro {
    font-size: 40px;
    line-height: 50px;
  }
}
