.column1 {
  border: 1px solid #565656;
  width: 30%;
  height: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: var(--boxshadow);
}
.column1Content {
  width: 80%;
  height: 90%;
  /* border: 1px solid red; */
  /* display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: column; */
}
.name {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photo {
  /* border-bottom: 1px solid white; */
  width: 100%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo img {
  width: 90%;
  height: 90%;
}
.icons {
  width: 100%;
  height: 4rem;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
.iconContainer {
  margin: 0 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}
.iconContainer:hover {
  /* background: var(--mainColor); */
  border: none;
  box-shadow: var(--boxshadowhover);
  transform: scale(1.1);
}

.iconContainer * {
  font-size: 0.8em;
  color: var(--border);
}
